$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #333;
$color__text-input-focus: #111;
$color__link: #131313; //royalblue
$color__link-visited: #333; //purple
$color__link-hover: #000; //midnightblue
$color__text-main: #131313;

$color__border-button: #fff #fff #fff;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #e3e3e3;
$color__border-abbr: #666;
